
@font-face {
    font-family: 'NoitaBlackletter';
    src: url('fonts/NoitaBlackletter.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

* {
    font-family: "NoitaBlackletter";
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.splash {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #814726;
    object-fit: cover;
    object-position: 0% 50%;
    overflow: hidden;
    transition: opacity 2s ease-in-out; 
}

.splash.fade-out {
    opacity: 0;
}

.splash::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    pointer-events: none; 
}

button {
    font-family: "NoitaBlackletter", sans-serif;
    color: #ffcc00;
    background-color: transparent;
    border: 0px;
    font-size: 45px;
    padding: 10px 20px;
}


p {
    font-family: 'NoitaBlackletter';
    text-align: center;
    color: #ffcc00; 
    background: linear-gradient(to bottom, #ffcc00, #ff6600, #cc3300); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

body {
    background-color:#10100f;
    background-image: url('background.svg');
    background-repeat: repeat;
    background-size: 250px;
}

.splash img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.initial-block.flowing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    font-size: 44px;
}

.fade-in-page {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.game-over-screen {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px #000000;
    border-radius: 0 10px;
}

.game-over-title {
    font-size: 70px;
    color: #ffcc00;
    background: linear-gradient(to bottom, #ffcc00, #ff6600, #cc3300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stats-container {
    font-size: 25px;
    
    line-height: 1.8;
    max-height: 0;
    padding: 0px;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    position: relative; 
    overflow: hidden; 
}
.stats-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.9;      
    z-index: 0;        
}
.stats-container.open {
    max-height: 500px;
    opacity: 1;
}

.stats-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 10px 20px 25px;
    text-align: left;
    color: #e0e0e0;
    position: relative; 
    z-index: 1;        
}

.stats-list .highlight {
    color: #ffd700;
    font-weight: bold;
}

.menu-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-button {
    background-color: #814726;
    color: #ffcc00;
    font-size: 25px;
    border: 2px solid #bf4c00;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.toggle-stats-btn:hover {
    color: #d9920d;
    transform: scale(1.05);
}
.stats-background2 {
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабирует картинку, чтобы она заполнила весь экран */
    z-index: -2;
}

.stats-background2::before {
    content: ''; /* Создаём пустой элемент */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с прозрачностью 50% */
    z-index: -1; /* Псевдоэлемент будет поверх картинки */
}